<% if @contacts.blank? %>
  <div class="alert alert-warning">
    <strong>No contacts found!</strong>
  </div>
<% end %>
<div class="panel panel-default">
  <table class="table">
    <% render @contacts %>
  </table>
</div>

<div class="text-center">
  <%= paginate @contacts %>
</div>
