<div class="col.md-10 col-md-offset-1">
  <div class="jumbotron text-centre">
    <h1>404</h1>
    <p class="lead">Sorry, the contact cannot be found</p>
    <p>
      <%= link_to "Go Back to Contacts", contacts_path, class: "btn btn-primary btn-large" %>
    </p>
  </div>
</div>
